<article class="col-lg-4 col-md-6 col-12 clearfix wow fadeInUp mb-4" data-wow-duration="500ms">
  <div class="post-block">
    <div class="media-wrapper">
      <img class="img-fluid lozad" data-src="{{ .Params.Image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .Params.image | absURL }}'">
    </div>

    <div class="content">
      
      <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
     
      <p>{{ .Summary }}</p>
      <!-- Taxonomies-->
      <p >
        
        <a href="/categories">{{ i18n "categorias" }}:</a> 
        {{ range (.Params.categories | uniq)}}
          <a class="tax" href="/categories/{{.| urlize }}" > {{ . }}</a> 
        {{end}}

        <br>
        <a href="/tags">{{ i18n "tags" }}: </a> 
        {{range (.Params.tags | uniq)}}
          <a class="tax" href="/tags/{{.| urlize }}"> {{ . }}</a> 
        {{ end }} 
      </p>
      
      <!-- Taxonomies-->
      <div class="center-flex">
        <a class="btn btn-transparent" href="{{ .Permalink }}">{{ i18n "readMore" }}</a>
      </div>
      
    </div>
  </div>
</article>
