<article class="col-lg-4 col-md-6 col-12 clearfix wow fadeInUp mb-4" data-wow-duration="500ms">
    <div class="post-block">  
      <div class="content">
        <div>
            <h3 class="center"><a href="{{ .Permalink }}" class="tc">{{ .Title }}</a></h3>              
            <div class="center-flex">
                <a class="btn btn-transparent" href="{{ .Permalink }}">{{ i18n "verPosts" }}</a>
            </div>
        </div>    
       
      </div>
    </div>
  </article>
  