{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>404</h1>
        <h2>No se encontró la página</h2>
				<a class="btn btn-main" href="{{ site.BaseURL | relLangURL }}">Volver al inicio</a>
      </div>
    </div>
  </div>
</section>

{{ end }}
